<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ReserveTableApp</title>
</head>
<body>

<div th:if="${#strings.contains(authorities, 'ROLE_OWNER')}">
    <h1>Owner 메인 페이지</h1>
    <div th:replace="/fragments/layout.html  :: fragment-owner-body-menu"></div>
</div>
<div th:if="${#strings.contains(authorities, 'ROLE_USER')}">
    <h1>User 페이지</h1>
    <div th:replace="/fragments/layout.html  :: fragment-user-body-menu"></div>
</div>

<div th:if="${#strings.contains(authorities, 'ROLE_ANONYMOUS')}">
    <h1>메인 페이지</h1>
    <div th:replace="/fragments/layout.html  :: fragment-body-before-login-menu"></div>
</div>
</body>
</html>