<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ReserveTableApp</title>
</head>
<body>
<h1>메인 페이지</h1>

<div th:if="${loggedInOwner}" >
    <div th:replace="/fragments/layout.html  :: fragment-owner-body-menu"></div>
</div>

<div th:if="${loggedInUser}" >
    <div th:replace="/fragments/layout.html  :: fragment-user-body-menu"></div>
</div>
<div th:if="${!(loggedInOwner or loggedInUser)}" th:replace="/fragments/layout.html :: fragment-body-before-login-menu"></div>

</body>
</html>